{% extends 'base.html.twig' %}

{% block title %}Blackfire escape game{% endblock %}
{% block tagline %}Blackfire escape game{% endblock %}

{% block body %}

<div class="col mb-5">
    <h2 style="font-size: 1.5rem;">Getting started with the Blackfire's escape game!</h2>

    <div class="mt-3">
        <p>Hi there Alice!</p>
        <p>It seems you've seen a Pink Rabbit and fell into a hole... <br />Your objective is to escape this magical place, discovering a new wizard trick along the way: <strong>Blackfire Profiler</strong>!</p>
        <p>If you scanned a <strong>QR code</strong>, you are most likely on your phone. You can fill-in that form to have all the information sent to your email. Your information won't be stored unless you choose to join our newsletter sent once a quarter.</p>
        <p>If you're already on your computer, you can <a href="https://github.com/platformsh-templates/pink-rabbit#readme" class="text-danger"><strong>get started right now!</strong></a></p>
    </div>

    <div class="mt-5">
        <h3 style="font-size: 1.2rem;">Receive the Escape Game information on your email:</h3>
        {{ form_start(form, {
                attr: {
                    action: path('landing_page'),
                    'novalidate': 'novalidate'
                }
            }) }}
            {{ form_row(form) }}
            <button class="btn btn-info" type="submit">Submit</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
