Hello {{ name }}!

Blackfire Escape game is a fun way to discover Blackfire. It should take you about 10 minutes of your times to solve all the puzzles based on Alice in Wonderland.

Indeed, it's seems you've seen a Pink Rabbit and fell into a hole. Your objective is to escape this magical place using a codebase, your IDE, an app, and discovering a new wizard trick along the way: Blackfire Profiler.

Here's what you need to play the game:

 - Create a Blackfire account</a>, if you don't already have one:
   https://blackfire.io/signup

- Install Blackfire browser extension:
  https://docs.blackfire.io/integrations/browsers/index

- An IDE

- A codebase:
  https://github.com/platformsh-templates/pink-rabbit#readme

Then, go to https://escape.book.b7e.io/, profile the page by clicking the big red button in Blackfire browser extension. Then, check the profile's timeline.

Follow the clues Winky, our Pink Rabbit, left behind them in the profiles and the repo (https://github.com/platformsh-templates/pink-rabbit#readme).

You don't need a subscription, that site is freely profilable by all.

Also, you don't need to clone the repository (but you can if you want). Browsing it from GitHub should let you explore the codebase to look for the hints you will discover while profiling the application.

Conveniently, you could have one tab with the codebase, one tab with escape.book.b7e.io, and eventually one tab with the documentation (docs.blackfire.io).

Ready to face that challenge? Let's play!
https://escape.book.b7e.io/
